body{
background-color: limegreen;
}
li{
  list-style-type: disc;
  margin: 10px;
}
a{
  font-weight:bold;
}
 p {
   color: white;
   background-color: cornflowerblue;
 }
 span {
   color: black;
   background-color: white;
 }
